<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/product">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
          <li>
            <a href="/distributor">
              <i class="bi bi-circle"></i><span>Distributors</span>
            </a>
          </li>
          <li>
            <a href="/recycle">
              <i class="bi bi-circle"></i><span>Recycles</span>
            </a>
          </li>
          
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/account-list">
        <i class="bi bi-person-circle"></i>
        <span>Account List</span>
      </a>
    </li><!-- End Account List Nav -->
    

    <li class="nav-item">
      <a class="nav-link collapsed" href="/customer-order">
        <i class="bi bi-cart2"></i>
        <span>Customer's Orders</span>
      </a>
    </li><!-- End Customer's Orders Nav -->

    <li class="nav-heading">Pages</li>


    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.hbs">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li><!-- End Login Page Nav -->

  </ul>

</aside><!-- End Sidebar-->



<main id="main" class="main">
    
  <div class="pagetitle">
    <h1>Order Detail</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Order Detail</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <div class="card">
            {{#each product}}
            <h3>Product name: {{productName}}</h3>
            
            {{/each}}
            {{#each account}}
            <h3>username: {{name}}</h3>
            {{/each}}
      </div>
      
  <section id="account_detail">
      
    {{#with order}}
    <div class="account__photo">
      <div class="photo-container">
      
        <div class="photo-main">
          <img src="{{productImageUrl}}" >
        </div>
        <div class="photo-album">
          <ul>
            <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537302064/codepen/delicious-apples/green-apple2.png" alt="green apple"></li>
            <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303532/codepen/delicious-apples/half-apple.png" alt="half apple"></li>
            <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303160/codepen/delicious-apples/green-apple-flipped.png" alt="green apple"></li>
            <li><img src="https://res.cloudinary.com/john-mantas/image/upload/v1537303708/codepen/delicious-apples/apple-top.png" alt="apple top"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="product__info">
      
      <div class="price">
        Creation time:<h2> {{createdAt}}</h2>
      </div>
      <div class="variant">
        <h2>Status: {{status}}</h2>      
      </div>
      <form action="/customer-order/{{id}}" method="post" form="order-account-form">
        <select id="status" name="status" class="custom-select tm-select-accounts" >
          <option selected >{{status}}</option>
          <option  value="pending">
            Pending
            </option>
            <option  value="Delivery">
                  Delivery
            </option>
            <option  value="Success">
                  Success
            </option>
              
              
        </select>
        
        

        <div class="description">
          <h3>Active status:</h3>
          <ul>
            <li>Number of product: {{price}}</li>
            <li>number of charity: {{price}}</li>
            
          </ul>
        </div>
        
        <button class="buy--btn">Update order</button>
      </form>
      
    </div>
    {{/with }}
  </section>

</main>
<!-- End #main -->
