{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}

<script type="text/javascript">
  function getCellValue(row, index){ return $(row).children('td').eq(index).text() }
  $(document).ready(function(){
    $("#filter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#product div").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
      
    });
    
    {{!-- var myProduct = $('#product');
    var listproduct = myProduct.children('div').get();
    var lengthListProduct = listproduct.length

    var mypage = $('#pagination');
    var listpage = mypage.children('li').get();
    window.console.log(mypage.length)

    var pre = listpage[0]
    var next = listpage[listpage.length-1]
    
    var pageNum = listpage[1]


    var tmpListPage = listpage.slice(1,lengthListProduct-1)
 
    tmpListPage = tmpListPage.concat(next,pageNum,pre)
    $.each(tmpListPage, function(idx, pre) { mypage.append(pre); });  --}}

  });
  function sortTable(){
      var vals = document.getElementsByClassName('page-item').active
    window.console.log(vals)
  {{!-- window.console.log(listpage.findIndex(value:active)) --}}

    var mylist = $('#pagination');
    var listitems = mylist.children('li').get();
    window.log(listitems.length)
    {{!-- listitems.slice() --}}
    {{!-- listitems..sort(function(a, b) {
      return $(a).text().toUpperCase().localeCompare($(b).text().toUpperCase());
    })
    $.each(listitems, function(idx, itm) { mylist.append(itm); }); --}}
  }

  function addToCartSuccess(){
    window.alert("Thêm thành công")
  }
 </script> 

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/product">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
          <li>
            <a href="/distributor">
              <i class="bi bi-circle"></i><span>Distributors</span>
            </a>
          </li>
          <li>
            <a href="/recycle">
              <i class="bi bi-circle"></i><span>Recycles</span>
            </a>
          </li>
          
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/account-list">
        <i class="bi bi-person-circle"></i>
        <span>Account List</span>
      </a>
    </li><!-- End Account List Nav -->
    

    <li class="nav-item">
      <a class="nav-link collapsed" href="/customer-order">
        <i class="bi bi-cart2"></i>
        <span>Customer's Orders</span>
      </a>
    </li><!-- End Customer's Orders Nav -->


    <li class="nav-heading">Pages</li>


    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.hbs">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li><!-- End Login Page Nav -->

  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Products</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Products</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
              

              <!-- Featured Section Begin -->
              {{!-- option-catalogue : Start --}}
              <div class="accordion-item">                  
                <section class="featured spad">              
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2>Oganic Product</h2>  
                                <div class="row">
                                  <div class="col-1">                                   
                                    <button class="button-41 bi bi-plus" role="button" onclick="window.location.href='/add-product';">Add</button>
                                  </div> 
                                        
                                  <div class="col-1">                                 
                                    <button class="button-41 bi bi-file-minus" role="button"> Remove</button>
                                  </div>   
                                </div>     
                              
                            </div>                              
                        </div>
                        
                      </div>
                      <!-- menu : start-->
                      <div id="menu" class="container">
                      {{!-- option-list : Start --}}
                      <form action="" method="get" id="menu-form"></form>
                      <div class="col-3 option-list">
                        <div class="accordion accordion-flush" >
                          {{!-- option-partner : Start --}}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne" >
                                Cửa hàng
                              </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" >
                              <div class="accordion-body partner-list">
                                {{#each partnerList}}
                                <div class="form-check" >
                                  <input  class="form-check-input" type="checkbox" name="partner" id="{{id}}" form="menu-form" value="{{id}}">
                                  <label class="form-check-label" for="{{id}}" >
                                    {{name}}
                                  </label>
                                </div>
                                {{/each}}
                              </div>
                            </div>
                          </div>
                          {{!-- option-partner : End --}}

                          {{!-- option-catalogue : Start --}}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                                Phân loại
                              </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" >
                              <div class="accordion-body">
                                {{#each catalogueList}}
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="catalogue" id="{{id}}" form="menu-form" value="{{id}}">
                                  <label class="form-check-label" for="{{id}}">
                                    {{name}}
                                  </label>
                                </div>
                                {{/each}}
                              </div>
                            </div>
                          </div>
                          {{!-- option-catalogue : End --}}

                          {{!-- option-price : Start --}}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                                Giá
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" >
                              <div class="accordion-body partner-list">
                                {{#if priceList}}
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="price" id="0,{{priceList.[0]}}" form="menu-form" value="0,{{priceList.[0]}}">
                                  <label class="form-check-label" for="{{priceList.[0]}}">
                                  0 - {{priceList.[0]}}
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="price" id="{{priceList.[0]}},{{priceList.[1]}}"  form="menu-form" value="{{priceList.[0]}},{{priceList.[1]}}">
                                  <label class="form-check-label" for="{{priceList.[1]}}">
                                    {{priceList.[0]}} - {{priceList.[1]}}
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="price" id="{{priceList.[1]}},{{priceList.[2]}}"  form="menu-form" value="{{priceList.[1]}},{{priceList.[2]}}" >
                                  <label class="form-check-label" for="{{priceList.[2]}}">
                                    {{priceList.[1]}} - {{priceList.[2]}}
                                  </label>
                                </div>
                                {{/if}}
                              </div>
                            </div>
                          </div>
                          {{!-- option-price : End --}}
                          {{!-- option-price : Start --}}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                                Sắp xếp giá
                              </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" >
                              <div class="accordion-body partner-list">
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="sorting" id="ASC" form="menu-form" value="ASC">
                                  <label class="form-check-label" for="ASC">
                                    Tăng dần
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="sorting" id="DESC" form="menu-form" value="DESC">
                                  <label class="form-check-label" for="DESC">
                                    Giảm dần
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          {{!-- option-price : End --}}
                          
                        </div>
                        <input type="search" id="filter" form="menu-form" placeholder="Tìm kiếm sản phẩm.." >
                        <input type="submit"  form="menu-form" value="Submit">
                      </div>
                      {{!-- product-list : Start --}}
                      <div class="col-7" id="product">
                        {{#each productList}}
                        <div class="card" style="width: 18rem;">
                          <img src="{{productImageUrl}}" alt="{{productName}}">
                          {{!-- <a href="/menu/sss">sss</a> --}}
                          <div class="product-body">
                            <a href="/product/detail/{{id}}" class="product-title">
                              {{productName}}
                            </a>
                            <p class="product-price">
                              {{price}}đ
                            </p>
                            <p class="product-quatity">
                              Quatity:{{quatity}}
                            </p>
                            {{!-- <form action="/shopping-cart/{{id}}" method="post">
                              <button class="learn-more" onclick="addToCartSuccess()">
                                <a href="#">
                                    <span class="circle" aria-hidden="true">
                                        <span class="icon arrow"></span>
                                    </span>
                                    <span class="button-text">Details</span>
                                </a>
                              </button>
                            </form> --}}
                            <button class="learn-more">
                                  <a href="/update-product/{{id}}" class="product-title">
                                      <span class="circle" aria-hidden="true">
                                          <span class="icon arrow"></span>
                                      </span>
                                      <span class="button-text">Details</span>
                                  </a>
                                 
                                </button>
                              
                          </div>
                        </div>
                        {{/each}}
                      </div>
                      {{!-- product-list : End --}}

                      {{!-- sort-list : Start --}}
                      <div class="col-2 sort-list"></div>
                      
                      {{!-- sort-list : End --}}
                    </div>
                    <!-- Menu : End -->
                    {{!-- Pagination: start --}}
                    <nav aria-label="..." >
                        <ul class="pagination pagination-centered" id="menu-pagination">
                            {{#paginate pagination type="first"}}
                            <li  {{#if disabled}}class="page-item disabled"{{/if}}><a class="page-link" href="?page={{n}}">First</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="previous"}}
                            <li {{#if disabled}}class="page-item disabled"{{/if}}><a class="page-link" href="?page={{n}}">Prev</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="middle" limit=pagination.pageCount}}
                            <li {{#if active}}class="page-item active"{{/if}}><a class="page-link" href="?page={{n}}">{{n}}</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="next"}}
                            <li {{#if disabled}}class="page-item disabled"{{/if}}><a class="page-link" href="?page={{n}}">Next</a></li>
                            {{/paginate}}
                            {{#paginate pagination type="last"}}
                            <li {{#if disabled}}class="page-item disabled"{{/if}}><a class="page-link" href="?page={{n}}">Last</a></li>
                            {{/paginate}}
                        </ul>
                    </nav>
                    {{!-- Pagination: end--}}
                    
                      {{!-- List product: End --}}
                  </div>                  
                </section>

                
              </div>
            </div>
        </div>
      </div>
    </div>
    
  </section>
  
</main>



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>








