{{!-- <script src="/products/script.js">


</script> --}}

 <script type="text/javascript">
    function queryParameter(){
      // http://localhost:3000/menu/explore?partner=&catalogue=&price=
      const localURL = "http://localhost:80"
      const hostURL = "https://eloop-user-hda.herokuapp.com"
      const baseUrl = `${hostURL}/menu/explore?`
      var partnerParam = "partner="
      let catalogueParam = "catalogue="
      let priceParam = "price="
      let sortingParam = "sorting="
  
      //check partner list
      let partnerList = document.getElementById("flush-collapseOne").getElementsByClassName("form-check-input")
      for (let i = 0; i < partnerList.length; i++) {
        if (partnerList[i].checked){
          partnerParam += (partnerList[i].id).toString()
        }
      }
      //check catalogue list
      let catalogueList = document.getElementById("flush-collapseTwo").getElementsByClassName("form-check-input")
      for (let i = 0; i < catalogueList.length; i++) {
        if(catalogueList[i].checked){
          catalogueParam += (catalogueList[i].id).toString()
        }
      }
      //check price list
      let priceList = document.getElementById("flush-collapseThree").getElementsByClassName("form-check-input")
      for (let i = 0; i < priceList.length; i++) {
        if (priceList[i].checked){
          priceParam +=  (priceList[i].id).toString()
        }
      } 
      //check sort list
      let sortingList = document.getElementById("flush-collapseFour").getElementsByClassName("form-check-input")
      for (let i = 0; i < sortingList.length; i++) {
        if (sortingList[i].checked){
          sortingParam +=  (sortingList[i].id).toString()
        }
      }

      window.location= `${baseUrl}${partnerParam}&${catalogueParam}&${priceParam}&${sortingParam}`
    }

    function queryParameter2(){
      // http://localhost:3000/menu/explore?partner=&catalogue=&price=
      const localURL = "http://localhost:80"
      const hostURL = "https://eloop-user-hda.herokuapp.com"
      const baseUrl = `${localURL}/product/explore?`
      var partnerParam = "partner="
      let catalogueParam = "catalogue="
      let priceParam = "price="
      let sortingParam = "sorting="

      //check product list   
      //console.log(document.getElementById("getCatalogue"))
      
      //let productList = document.getElementById("product").getElementsByClassName("product-body")
       
      //check catalogue list
      let catalogueList = document.getElementById("getCatalogue").getElementsByTagName("input")
      console.log(catalogueList[0].id)
      for (let i = 0; i < catalogueList.length; i++) {
        if(catalogueList[i].checked){
          catalogueParam += (catalogueList[i].id).toString()
        }
      }
      
      
      window.location= `${baseUrl}${partnerParam}&${catalogueParam}&${priceParam}&${sortingParam}`    
    }
 </script>

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/product">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
          <li>
            <a href="/distributor">
              <i class="bi bi-circle"></i><span>Distributors</span>
            </a>
          </li>
          <li>
            <a href="/recycle">
              <i class="bi bi-circle"></i><span>Recycles</span>
            </a>
          </li>
          
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/account-list">
        <i class="bi bi-person-circle"></i>
        <span>Account List</span>
      </a>
    </li><!-- End Account List Nav -->
    

    <li class="nav-item">
      <a class="nav-link collapsed" href="/customer-order">
        <i class="bi bi-cart2"></i>
        <span>Customer's Orders</span>
      </a>
    </li><!-- End Customer's Orders Nav -->


    <li class="nav-heading">Pages</li>


    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.hbs">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li><!-- End Login Page Nav -->

  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">
  

  <div class="pagetitle">
    <h1>Products</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Products</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <!-- Featured Section Begin -->
              {{!-- option-catalogue : Start --}}
      <div class="accordion-item">                  
              <section class="featured spad">
                  <div class="container">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="section-title">
                                  <h2>Oganic Product</h2>
                              </div>
                              <div class="featured__controls" id="getCatalogue">
                                  
    
                                  <ul>
                                      {{!-- <li class="active" data-filter="*">All</li>  --}}
                                                                       
                                      {{#each catalogueList}}
                                        <input  class="form-check-input" type="checkbox" name="product2" id="{{id}}" onclick="queryParameter2()"><li>{{name}}</li>
                                      {{/each}}                                                                     
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <div class="row featured__filter">                        
                          <div class="col-7" id="product">
                            
                            {{#each productList}}
                            <div class="card" style="width: 15rem;">                                                         
                                <img src="{{productImageUrl}}" alt="{{productName}}">
                                <div class="product-body">
      
                                  <a href="product/detail/{{id}}" class="product-title">
                                    {{productName}}
                                    
                                  </a>
                                  <p class="product-price">
                                    {{price}}đ
                                  </p>
                                  
                                
                                </div>
                            
                                  <div class="col-9 featured__item">                                                                   
                                    <div class="featured__item__pic set-bg">
                                      <ul class="featured__item__pic__hover">
                                          <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                          <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                          <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                                              
                                      </ul>
                                    </div>
                                  </div>    
                              
                                 
                                {{!-- product-list : End --}}

                                  {{!-- sort-list : Start --}}
                                  <div class="col-2 sort-list"></div>
                                  {{!-- sort-list : End --}}
                            </div>
                            {{/each}}
                          </div>
                          
                      </div>
                
                      
         
                  </div>
               
              </section>
              <!-- Featured Section End -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</main>



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>








