{{!-- <script src="/products/script.js">


</script> --}}

 <script type="text/javascript">
    function queryParameter(){
      // http://localhost:3000/menu/explore?partner=&catalogue=&price=
      const localURL = "http://localhost:80"
      const hostURL = "https://eloop-user-hda.herokuapp.com"
      const baseUrl = `${localURL}/product/explore?`
      var partnerParam = "partner="
      let catalogueParam = "catalogue="
      let priceParam = "price="
      let sortingParam = "sorting="
  
      //check partner list
      let partnerList = document.getElementById("flush-collapseOne").getElementsByClassName("form-check-input")
      for (let i = 0; i < partnerList.length; i++) {
        if (partnerList[i].checked){
          partnerParam += (partnerList[i].id).toString()
        }
      }
      //check catalogue list
      let catalogueList = document.getElementById("flush-collapseTwo").getElementsByClassName("form-check-input")
      for (let i = 0; i < catalogueList.length; i++) {
        if(catalogueList[i].checked){
          catalogueParam += (catalogueList[i].id).toString()
        }
      }
      //check price list
      let priceList = document.getElementById("flush-collapseThree").getElementsByClassName("form-check-input")
      for (let i = 0; i < priceList.length; i++) {
        if (priceList[i].checked){
          priceParam +=  (priceList[i].id).toString()
        }
      } 
      //check sort list
      let sortingList = document.getElementById("flush-collapseFour").getElementsByClassName("form-check-input")
      for (let i = 0; i < sortingList.length; i++) {
        if (sortingList[i].checked){
          sortingParam +=  (sortingList[i].id).toString()
        }
      }

      window.location= `${baseUrl}${partnerParam}&${catalogueParam}&${priceParam}&${sortingParam}`
    }

    function queryParameter2(){
      // http://localhost:3000/menu/explore?partner=&catalogue=&price=
      const localURL = "http://localhost:80"
      const hostURL = "https://eloop-user-hda.herokuapp.com"
      const baseUrl = `${localURL}/product/explore?`
      var partnerParam = "partner="
      let catalogueParam = "catalogue="
      let priceParam = "price="
      let sortingParam = "sorting="  
       
      //check catalogue list
      let catalogueList = document.getElementById("getCatalogue").getElementsByTagName("input")
      console.log(catalogueList[0].id)
      for (let i = 0; i < catalogueList.length; i++) {
        if(catalogueList[i].checked){
          catalogueParam += (catalogueList[i].id).toString()
        }
      }
      window.location= `${baseUrl}${partnerParam}&${catalogueParam}&${priceParam}&${sortingParam}`    
    }
 </script>

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/product">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
          <li>
            <a href="/distributor">
              <i class="bi bi-circle"></i><span>Distributors</span>
            </a>
          </li>
          <li>
            <a href="/recycle">
              <i class="bi bi-circle"></i><span>Recycles</span>
            </a>
          </li>
          
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/account-list">
        <i class="bi bi-person-circle"></i>
        <span>Account List</span>
      </a>
    </li><!-- End Account List Nav -->
    

    <li class="nav-item">
      <a class="nav-link collapsed" href="/customer-order">
        <i class="bi bi-cart2"></i>
        <span>Customer's Orders</span>
      </a>
    </li><!-- End Customer's Orders Nav -->


    <li class="nav-heading">Pages</li>


    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.hbs">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li><!-- End Login Page Nav -->

  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">
  <div class="pagetitle">
    <h1>Products</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Products</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
              

              <!-- Featured Section Begin -->
              {{!-- option-catalogue : Start --}}
              <div class="accordion-item">                  
                <section class="featured spad">              
                    <div class="container">
                      <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title">
                                <h2>Oganic Product</h2>  
                                <div class="row">
                                  <div class="col-1">                   
                                    <button class="button-41 bi bi-plus" role="button">Add</button>
                                  </div> 
                                        
                                  <div class="col-1">                                 
                                    <button class="button-41 bi bi-file-minus" role="button"> Remove</button>
                                  </div>   
                                </div>     
                              
                            </div>                              
                        </div>
                        
                      </div>
                      {{!-- option-list : Start --}}
                      <div class="col-3 option-list">
                        <div class="accordion accordion-flush" >
                          {{!-- option-partner : Start --}}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingOne">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne" >
                                Manufacturer
                              </button>
                            </h2>
                            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" >
                              <div class="accordion-body partner-list">
                                {{#each partnerList}}
                                <div class="form-check" >
                                  <input  class="form-check-input" type="checkbox" name="partner" id="{{id}}" onclick="queryParameter()">
                                  <label class="form-check-label" for="{{id}}" >
                                    {{name}}
                                  </label>
                                </div>
                                {{/each}}
                              </div>
                            </div>
                          </div>
                          {{!-- option-partner : End --}}

                          {{!-- option-catalogue : Start --}}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingTwo">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="true" aria-controls="flush-collapseTwo">
                                Category
                              </button>
                            </h2>
                            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" >
                              <div class="accordion-body">
                                {{#each catalogueList}}
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="catalogue" id="{{id}}" onclick="queryParameter()">
                                  <label class="form-check-label" for="{{id}}">
                                    {{name}}
                                  </label>
                                </div>
                                {{/each}}
                              </div>
                            </div>
                          </div>
                          {{!-- option-catalogue : End --}}

                          {{!-- option-price : Start --}}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingThree">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="true" aria-controls="flush-collapseThree">
                                Price
                              </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" >
                              <div class="accordion-body partner-list">
                                {{#if priceList}}
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="price" id="0,{{priceList.[0]}}" onclick="queryParameter()">
                                  <label class="form-check-label" for="{{priceList.[0]}}">
                                  0 - {{priceList.[0]}}
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="price" id="{{priceList.[0]}},{{priceList.[1]}}" onclick="queryParameter()">
                                  <label class="form-check-label" for="{{priceList.[1]}}">
                                    {{priceList.[0]}} - {{priceList.[1]}}
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="price" id="{{priceList.[1]}},{{priceList.[2]}}" onclick="queryParameter()">
                                  <label class="form-check-label" for="{{priceList.[2]}}">
                                    {{priceList.[1]}} - {{priceList.[2]}}
                                  </label>
                                </div>
                                {{/if}}
                              </div>
                            </div>
                          </div>
                          {{!-- option-price : End --}}
                          {{!-- option-price : Start --}}
                          <div class="accordion-item">
                            <h2 class="accordion-header" id="flush-headingFour">
                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="true" aria-controls="flush-collapseFour">
                                Sorting
                              </button>
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" >
                              <div class="accordion-body partner-list">
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="sorting" id="ASC" onclick="queryParameter()">
                                  <label class="form-check-label" for="ASC">
                                    Tăng dần
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="sorting" id="DESC" onclick="queryParameter()">
                                  <label class="form-check-label" for="DESC">
                                    Giảm dần
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="sorting" id="Total" onclick="queryParameter()">
                                  <label class="form-check-label" for="Total">
                                    Total purchase
                                  </label>
                                </div>
                                <div class="form-check">
                                  <input class="form-check-input" type="radio" name="sorting" id="Total" onclick="queryParameter()">
                                  <label class="form-check-label" for="Total">
                                    Creation time
                                  </label>
                                </div>
                                
                              </div>
                            </div>
                          </div>
                          
                          {{!-- option-price : End --}}

                        </div>
                      </div>

                      {{!-- List product: Start --}}
                      <div class="row featured__filter">                        
                        <div class="col-7" id="product">
                          
                          {{#each productList}}
                          <div class="card" style="width: 15rem;">                                                         
                              <img src="{{productImageUrl}}" alt="{{productName}}">
                              <div class="product-body">
    
                                <a href="product/detail/{{id}}" class="product-title">
                                  {{productName}}
                                  
                                </a>
                                <p class="product-price">
                                  {{price}}đ
                                </p>                               
                              </div>
                          
                              <div class="col-10 featured__item">                                                                   
                                <div class="featured__item__pic set-bg">
                                  <ul class="featured__item__pic__hover">
                                      <li><a href="#"><i class="bi bi-info-lg"></i></a></li>
                                                                                
                                  </ul>
                                </div>
                              </div>   

                              <form action="/order/{{id}}" method="post">
          <button class="learn-more">
            <a href="#">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
                <span class="button-text">Mua</span>
            </a>
          </button>
        </form> 

                          {{!-- product-list : End --}}
                                
                          </div>
                          {{/each}}
                        </div>
                        {{!-- sort-list : Start --}}
                        <div class="col-2 sort-list"></div>
                        {{!-- sort-list : End --}}
                      </div>
                      {{!-- List product: End --}}
                    </div>                  
                </section>
                <!-- Featured Section End -->
              </div>

              {{!-- Pagination Start --}}
              <div id="product-page" class="container">  
                <ul class="page">
                  <li class="page__btn"><span class="material-icons bi bi-chevron-left"></span></li>
                  <li class="page__numbers active"> 1</li>
                  <li class="page__numbers">2</li>
                  <li class="page__numbers">3</li>
                  <li class="page__numbers">4</li>
                  <li class="page__numbers">5</li>
                  <li class="page__numbers">6</li>
                  <li class="page__dots">...</li>
                  <li class="page__numbers"> 10</li>
                  <li class="page__btn"><span class="material-icons bi bi-chevron-right"></span></li>
                </ul>
              </div>
              {{!-- Pagination End --}}
            </div>
        </div>
      </div>
    </div>
    
  </section>
  
</main>



<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>








