<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/product">
              <i class="bi bi-circle"></i><span>Products</span>
            </a>
          </li>
          <li>
            <a href="/distributor">
              <i class="bi bi-circle"></i><span>Distributors</span>
            </a>
          </li>
          <li>
            <a href="/recycle">
              <i class="bi bi-circle"></i><span>Recycles</span>
            </a>
          </li>
          
        </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/account-list">
        <i class="bi bi-person-circle"></i>
        <span>Account List</span>
      </a>
    </li><!-- End Account List Nav -->
    

    <li class="nav-item">
      <a class="nav-link collapsed" href="/customer-order">
        <i class="bi bi-cart2"></i>
        <span>Customer's Orders</span>
      </a>
    </li><!-- End Customer's Orders Nav -->

    <li class="nav-heading">Pages</li>


    <li class="nav-item">
      <a class="nav-link collapsed" href="pages-login.hbs">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Logout</span>
      </a>
    </li><!-- End Login Page Nav -->

  </ul>

</aside><!-- End Sidebar-->



<main id="main" class="main">

  <div class="pagetitle">
    <h1>Update Product</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        <li class="breadcrumb-item active">Update Product</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section dashboard">
    <div class="row">
      <!-- Left side columns -->
      <div class="col-lg-12">
        <div class="row">
          <div class="col-12">
            <div class="card">
                  <section class="py-0 ux-section bg-light">
                        <div class="container mt-5 mb-5">
                              <div class="row d-flex align-items-center justify-content-content">
                                    <div class="container tm-mt-big tm-mb-big">
                                          <div class="row">
                                                <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
                                                      <div class="tm-block tm-block-h-auto">
                                                            <div class="row">
                                                                  <div class="col-12">
                                                                  <h1 class="display-4 fw-bold mb-5 text-center">Update Product</h1>
                                                                  </div>
                                                            </div>
                                                            <p class="text-danger">{{error}}</p>
                                                            <form method="POST" action="/update-product" class="update-product">
                                                                 
                                                                        <div class="row tm-edit-product-row">                                                
                                                                              <div class="col-xl-6 col-lg-6 col-md-12">
                                                                                    {{#with product}}
                                                                                          
                                                                                          <form action="" class="tm-edit-product-form">
                                                                                                <div class="form-group mb-3">
                                                                                                      <label for="product_name">Product name</label>
                                                                                                      <input id="product_name"name="product_name" type="text" class="form-control validate" value="{{productName}}" required/>
                                                                                                </div>
                                                                                                <div class="form-group mb-3">
                                                                                                      <label for="id_partner">Partner Id</label>
                                                                                                      <input id="id_partner" name="id_partner" type="text" class="form-control validate" value="{{partnerId}}" required/>
                                                                                                </div>
                                                                                                <div class="form-group mb-3">
                                                                                                      <label for="name_catalogue">Catalogue Id</label>
                                                                                                      <input id="name_catalogue" name="name_catalogue" type="text" class="form-control validate" value="{{catalogueId}}" required/>
                                                                                                </div>
                                                                                                <div class="form-group mb-3">
                                                                                                      <label for="description">Description</label>
                                                                                                      <textarea id="description" name="description" class="form-control validate" rows="3" value="{{description}}" required></textarea>
                                                                                                </div>
                                                                                                <div class="form-group mb-2">                                                                                               
                                                                                                      <label for="name_partner">Partner</label>
                                                                                                      <select id="name_partner" name="name_partner" class="custom-select tm-select-accounts" id="partner" style="margin-left:10px">
                                                                                                            <option selected>Select partner</option>
                                                                                                            {{#each partnerList}}      
                                                                                                                  
                                                                                                                  <option  value="">{{name}}</option>
                                                                                                            
                                                                                                            {{/each}}
                                                                                                      </select>
                                                                                                      
                                                                                                </div>
                                                                                                <div class="form-group mb-3">                                                                                               
                                                                                                      <label for="category">Category</label>
                                                                                                      <select id="catalogue_id" name="name_catagory" class="custom-select tm-select-accounts" id="category">
                                                                                                            <option selected>Select category</option>
                                                                                                            {{#each catalogueList}}      
                                                                                                                  
                                                                                                                  <option  value="">{{name}}</option>
                                                                                                            
                                                                                                            {{/each}}
                                                                                                      </select>
                                                                                                      
                                                                                                </div>
                                                                                          
                                                                                                <div class="row">
                                                                                                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                                                                                                            <label for="expire_date">Creation Time</label>
                                                                                                            <input id="expire_date" name="expire_date" type="text" class="form-control validate" data-large-mode="true" value="{{createdAt}}"/>                                                      
                                                                                                      </div>
                                                                                                      <div class="form-group mb-3 col-xs-12 col-sm-6">
                                                                                                            <label for="price">Price</label>
                                                                                                            <input id="price" name="price" type="text" class="form-control validate" value="{{price}}" required/>                                                     
                                                                                                      </div>
                                                                                                </div>
                                                                                                
                                                                                    </div>
                                                                                                <div class="col-xl-2 col-lg-6 col-md-12 mx-auto mb-4">
                                                                                                
                                                                                                      <div class="center">
                                                                                                            <div class="dropzone">
                                                                                                                  
                                                                                                                  <form method="POST" action="/upload_image" enctype="multipart/form-data">
                                                                                                                        <label class="customUpload btnUpload btnM" style="padding: 2px 2px;"> 
                                                                                                                              <img src="{{productImageUrl}}" class="upload-icon" />
                                                                                                                              <input type="file" id="image" name="image" class="image" value="{{image}}" />
                                                                                                                              
                                                                                                                        </label>
                                                                                                                                                                                                                        
                                                                                                                  </form>
                                                                                                            </div>

                                                                                                            {{!-- <button type="button" class="btn" name="uploadbutton">Upload file</button> --}}

                                                                                                      </div>
                                                                                                      
                                                                                                      
                                                                                                </div>
                                                                                                <div class="col-12">
                                                                                                      <button type="submit" class="button-41 btn-block" >Update Product Now</button>
                                                                                                      
                                                                                                </div>
                                                                                          </form>
                                                                                    {{/with}}
                                                                              
                                                                              
                                                                        </div>
                                                                  
                                                            </form>
                                                      </div>

                                                      <div class="tm-block tm-block-h-auto">
                                                            {{#with product}}
                                                            <form method="POST" action="/product/remove/{{id}}" class="remove-product">
                                                                  
                                                                  <button type="submit" name="remove_id" class="button-41 btn-block" value="" >Remove</button>
                                                                        {{!-- <button class="learn-more">
                                                                        <a href="" class="button-41 btn-block">
                                                                              <span class="circle" aria-hidden="true">
                                                                                    <span class="icon arrow"></span>
                                                                              </span>
                                                                              <span class="button-text">Remove</span>
                                                                        </a> --}}
                                                                         
                                                                  </button>
                                                                  
                                                            </form>
                                                            {{/with}}
                                                            
                                                            
                                                      </div>
                                                            
                                                    
                                                </div>
                                          </div>
                                    </div>
                              </div>                       
                        </div>
                  </section>                             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- End #main -->


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

{{!-- <script>
      function remove_product(productId) { // This will be called on click and passed the user's _id
            $.post('remove/user/'+ productId) // This calls the server. Todo : add a callback, etc.
      }
</script> --}}

<!-- Vendor JS Files -->
<script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/chart.js/chart.min.js"></script>
<script src="assets/vendor/echarts/echarts.min.js"></script>
<script src="assets/vendor/quill/quill.min.js"></script>
<script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
<script src="assets/vendor/tinymce/tinymce.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>






